.record-add-container {
  margin-bottom: 8px;
  
  input {
      // flex-grow: 1;
      width: 175px;
      font-size: inherit;
  }
  input:not(:last-child) {
      margin-inline-end: 5px;
  }
  .add-btn {
    cursor: pointer;
  }
}