.record-preview-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  .record-preview {
      position: relative;
      display: grid;
      grid-template-columns: 50px 120px auto 40px 90px;
      width: 100%;
      padding: 8px 12px;
      margin-inline-end: 40px;

      color: #272733;
      background-color: #56c596;
      border: 1px solid lightgrey;
      border-radius: 8px;

      &:hover {
          cursor: pointer;
      }
      h2 {
          margin: 0;
          font-size: 1.2em;
          font-weight: lighter;
      }
      img.icon {
          align-self: center;
          width: 18px;
          &:hover {
              transition: 0.4s;
              transform: scale(1.1);
          }
      }
      .currency-sign {
          align-self: center;
          font-size: 1.2em;
      }
  }
  .marks {
      display: flex;
      align-items: center;
      .mark {
          height: 25px;
          width: 25px;
          border-radius: 50%;
          border: 1px solid black;

          input[type='radio'] {
              height: 100%;
              width: 100%;
              margin: 0;
              opacity: 0;
              &:hover {
                  cursor: pointer;
              }
          }
      }
      .marked {
          background-color: #272733;
      }

      .mark:first-child {
          margin-inline-end: 20px;
      }
  }
}
