.header-container {
  background-color: #26887b;
  padding: 26px;
  margin-bottom: 20px;
  position: relative;
  .home-logo {
      height: 100%;
      cursor: pointer;
  }
    .header {
        flex-direction: row-reverse;
        color: white;
        
        .hamburger {
            font-size: 30px;
            margin-inline-start: 65px;
            cursor: pointer;
        }
        .avatar-container{
            // flex-direction: row-reverse;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(auto-fit, 30px);

           
        }
    }
}
