.group-preview-container{
  margin: 8px;
  width: 100%;
  border: 1px solid gray;
  width: 140px;
  height: 140px;
  cursor: pointer;

  h1{
    margin: 8px 0;
  }
  .users-avatar{
    width: 100%;
    padding:16px;
    background-color: lightgray;
  }
}